{
  "host": "<IP of Raspberry Pi>",
  "username": "<default on raspbian: pi>",
  "password": "<default on raspbian: raspberry>",
  "twitter":{
    "CONSUMER_KEY": "",
    "CONSUMER_SECRET": "",
    "TOKEN": "",
    "TOKEN_SECRET": ""
  },
}
